
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    position: relative;
    color: #091f3b;
}

.todoCenter {
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(31, 49, 53, 0.3);
 
}

.Header {
  text-align: center;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(31, 49, 53, 0.3);
  padding: 10px;
  margin-bottom: 10px;
}

.buttonStyle {
  float: right;
  border-radius: 50%;
  height: 20px;
  border: 0px;
  font-size: 10px;
  font-weight: 700;
  color: white;
  background-color: #eee;
}

div.line {
  border-bottom: 1px solid #091f3b57;
  padding: 10px;
}

div.line:last-child {
  border-bottom: none;
}